Prototyping using pandas to grab data from a .csv and passing it to a bash script. Finalized in pass_params.py

In [54]:
import pandas as pd
import numpy as np
import os

data = pd.read_csv("sample_param_set.csv")

data.loc[2,'run'] = 1
data.loc[5,'run'] = 1
data.loc[6,'run'] = 1


data

  casename  run  slf_mult  inp_mult
0    case1    0       0.1       0.1
1    case2    0       0.2       0.2
2    case3    1       0.3       0.3
3    case4    0       0.4       0.4
4    case5    0       0.5       0.5
5    case6    1       0.6       0.6
6    case7    1       0.7       0.7
7    case8    0       0.8       0.8
8    case9    0       0.9       0.9
9   case10    0       1.0       1.0

Grab variables from the dataset and pass them to the bash script if they haven't been run.

In [55]:
rows, cols = np.shape(data)
for i in range(rows):
    row = data.loc[i,:]
    if not row[1]:
        print('submitting row ' + str(i))
        str_arg = str(data.loc[i,'casename']) + ' ' + str(data.loc[i,'slf_mult']) + ' ' + str(data.loc[i,'inp_mult'])
        print(str_arg)
        os.system('sh print_params.sh' + str_arg)
        data.loc[i,'run'] = 1
        
data

submitting row 0
case1 0.1 0.1
submitting row 1
case2 0.2 0.2
submitting row 3
case4 0.4 0.4
submitting row 4
case5 0.5 0.5
submitting row 7
case8 0.8 0.8
submitting row 8
case9 0.9 0.9
submitting row 9
case10 1.0 1.0

  casename  run  slf_mult  inp_mult
0    case1    1       0.1       0.1
1    case2    1       0.2       0.2
2    case3    1       0.3       0.3
3    case4    1       0.4       0.4
4    case5    1       0.5       0.5
5    case6    1       0.6       0.6
6    case7    1       0.7       0.7
7    case8    1       0.8       0.8
8    case9    1       0.9       0.9
9   case10    1       1.0       1.0

Write back to .csv after the job has been submitted

Needed to use chmod u+rwx on the bash file first

In [16]:
cname_slf = data[['casename', 'slf_mult']]
slf = data['slf_mult']
print(slf)
slf[3]

0    0.1
1    0.2
2    0.3
3    0.4
4    0.5
5    0.6
6    0.7
7    0.8
8    0.9
9    1.0
Name: slf_mult, dtype: float64

0.4

Grab a specific row

In [18]:
row2 = data.loc[2,:]
for i in row2: print(i)

case3
0
0.3
0.3